<div style="display: none">
    {{ form_widget(regularShipmentItemForm.new) }}
    {{ form_widget(regularShipmentItemForm.Product) }}
    {{ form_widget(regularShipmentItemForm.ProductClass) }}
    {{ form_widget(regularShipmentItemForm.price, {'type': 'hidden'}) }}
    {{ form_widget(regularShipmentItemForm.quantity, {'type': 'hidden'}) }}
    {{ form_widget(regularShipmentItemForm.itemidx) }}
</div>
