{#
 This file is part of EC-CUBE

 Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 https://www.ec-cube.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% set menus = ['mailmagazine', 'mailmagazine_history'] %}

{% block title %}メルマガ管理{% endblock %}
{% block sub_title %}配信履歴{% endblock %}

{% block javascript %}
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.core.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.widget.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.mouse.min.js"></script>
    <script src="{{ app.config.admin_urlpath }}/assets/js/vendor/jquery.ui/jquery.ui.sortable.min.js"></script>
{% endblock %}

{% block main %}

    <div class="table_list">
        <div class="table-responsive with-border">
            <table class="table table-striped">
                <tbody>
{#
                    {% for key, value in search_data%}
                    <tr>
                        <th style="width: 30%;">{{ value.label }}</th>
                        <td>{{ value.value }}</td>
                    </tr>

                    {% endfor %}
#}

                    <tr>
                        <th style="width: 20%;">会員ID・メールアドレス・お名前</th>
                        <td>
                            {% if search_data.multi is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.multi }}
                            {% endif %}

                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">会員種別</th>
                        <td>
                            {% if search_data.customer_status is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.customer_status }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">性別</th>
                        <td>
                            {% if search_data.sex is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.sex }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">誕生月</th>
                        <td>
                            {% if search_data.birth_month is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.birth_month }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">誕生日</th>
                        <td>
                            {% if search_data.birth_start is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.birth_start|date("Y/m/d") }}
                            {% endif %}
                            ～
                            {% if search_data.birth_end is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.birth_end|date("Y/m/d") }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">都道府県</th>
                        <td>
                            {% if search_data.pref is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.pref }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">電話番号</th>
                        <td>
                            {% if search_data.tel01 is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.tel01 }}
                            {% endif %}
                            -
                            {% if search_data.tel02 is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.tel02 }}
                            {% endif %}
                            -
                            {% if search_data.tel03 is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.tel03 }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">登録日</th>
                        <td>
                            {% if search_data.create_date_start is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.create_date_start|date("Y/m/d") }}
                            {% endif %}
                            ～
                            {% if search_data.create_date_end is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.create_date_end|date("Y/m/d") }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">更新日</th>
                        <td>
                            {% if search_data.update_date_start is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.update_date_start|date("Y/m/d") }}
                            {% endif %}
                            ～
                            {% if search_data.update_date_end is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.update_date_end|date("Y/m/d") }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">購入金額</th>
                        <td>
                            {% if search_data.buy_total_start is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.buy_total_start }}
                            {% endif %}
                            ～
                            {% if search_data.buy_total_end is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.buy_total_end }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">購入回数</th>
                        <td>
                            {% if search_data.buy_times_start is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.buy_times_start }}
                            {% endif %}
                            ～
                            {% if search_data.buy_times_end is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.buy_times_end }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">購入商品名・コード</th>
                        <td>
                            {% if search_data.buy_product_code is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.buy_product_code }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 20%;">最終購入日</th>
                        <td>
                            {% if search_data.last_buy_start is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.last_buy_start|date("Y/m/d") }}
                            {% endif %}
                            ～
                            {% if search_data.last_buy_end is null %}
                                (未指定)
                            {% else %}
                                {{ search_data.last_buy_end|date("Y/m/d") }}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                <p><a href="{{ url('plugin_mail_magazine_history') }}" class="btn btn-primary btn-block btn-lg">戻る</a></p>
            </div>
        </div>
</form>

{% endblock %}
