{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<!-- ▼shiro8_new_product▼ -->
<div id="contents_top">
    <div id="item_list">
        <div class="row">
            {% if Products|length > 0 %}
                {% for Product in Products %}
                    <div class="col-sm-3 col-xs-6">
                        <div class="pickup_item">
                            <a href="{{ url('product_detail', {'id': Product.id}) }}">
                                <div class="item_photo">
                                    <img src="{{ app.config.image_save_urlpath }}/{{ Product.main_list_image|no_image_product }}">
                                </div>
                                {% if Product.description_list %}
                                    <p class="item_comment text-warning">{{ Product.description_list|raw|nl2br }}</p>
                                {% endif %}
                                <dl>
                                    <dt class="item_name">{{ Product.name }}</dt>
                                    
                                    {% if Product.hasProductClass %}
                                        {% if Product.getPrice02Min == Product.getPrice02Max %}
                                            <dd class="item_price">{{ Product.getPrice02IncTaxMin|price }}</dd>
                                        {% else %}
                                            <dd class="item_price">{{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}</dd>
                                        {% endif %}
                                    {% else %}
                                        <dd class="item_price">{{ Product.getPrice02IncTaxMin|price }}</dd>
                                    {% endif %}
                                    
                                </dl>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<!-- ▲shiro8_new_product▲ -->