{#
 This file is part of the Sales Report plugin

Copyright (C) 2016 LOCKON CO.,LTD. All Rights Reserved.

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}

{% extends 'SalesReport/Resource/template/admin/index.twig' %}

{% set report_title = '年代別集計' %}
{% set action = url('admin_plugin_sales_report_age') %}
{% set menus = ['admin_plugin_sales_report', 'admin_plugin_sales_report_age'] %}

{% block chart %}
    <script>
        var graphData = {{ graphData|raw }};
        window.onload = function() {
            //create bar chart
            if(graphData != null) {
                var dataSet = graphData.datasets;
                graphData.datasets = [dataSet];
                var config = {
                    type: 'bar',
                    data: graphData,
                    options: {
                        responsive: true,
                        tooltips: {
                            callbacks: {
                                label : function tooltipsRender(tooltipItem, graphData) {
                                    var index = tooltipItem.index;
                                    var tooltipData = graphData.datasets[0].data[index];
                                    var tooltipLabel = graphData.labels[index];
                                    return '購入合計 : ¥' + moneyFormat(tooltipData);
                                }
                            }
                        },
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    callback: function(value){
                                        return Math.round(value).toString().replace(/(\d)(?=(\d{3})+$)/g, '$1,');
                                    }
                                }
                            }]
                        }
                    }
                };
                var ctx = document.getElementById("chart").getContext("2d");
                new Chart(ctx, config);
            }
            //export csv
            $('#export-csv').click(function () {
                var form = document.createElement("form");
                form.setAttribute("method", 'POST');
                form.setAttribute("action", "{{ url('admin_plugin_sales_report_export', { type : 'age' }) }}");
                document.body.appendChild(form);
                form.submit();
                document.body.removeChild(form);
            });
        };
    </script>
{% endblock %}

{% block option %}{% endblock %}

{% block table %}
    {% if app.request.method == 'POST' %}
        {% if rawData is not null %}
            <div class="row">
                <div class="box-header">
                    <button type="button" class="btn btn-default pull-right" id="export-csv">CSVダウンロード</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="table_list">
                            <div class="table-responsive with-border">
                                <table class="table table-striped" id="age-table">
                                    <thead>
                                    <tr>
                                        <th>年代</th>
                                        <th>購入件数(件)</th>
                                        <th>購入合計(円)</th>
                                        <th>購入平均(円)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for age, row in rawData %}
                                        <tr>
                                            <td>{{ age == 999 ? '未回答' : age~'代' }}</td>
                                            <td class="text-right">{{ row.time|number_format }}</td>
                                            <td class="price-format text-right">
                                                {{ row.total|number_format }}
                                                <span class="hidden">{{ row.total }}</span>
                                            </td>
                                            <td class="price-format text-right">
                                                {% if row.time > 0 %}
                                                    {{ (row.total / row.time)|round(2, 'floor')|number_format }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                                <span class="hidden">
                                                    {% if row.time > 0 %}
                                                        {{ (row.total / row.time)|round(2, 'floor') }}
                                                    {% else %}
                                                        0
                                                    {% endif %}
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- /.box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-arrow">
                            <h3 class="box-title">集計期間にデータがありませんでした。</h3>
                        </div><!-- /.box-header -->
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
